body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #383838;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header nav li {
    margin-right: 0;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.hero {
    background-image: linear-gradient(to bottom, #383838, #797979);
    color: #ffffff;
    padding: 2em;
    text-align: center;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.shop {
    margin-top: 20px;
}

.shop ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shop li {
    margin: 20px;
    width: calc(33.33% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shop h3 {
    font-size: 18px;
    margin-top: 10px;
}

.shop p {
    font-size: 14px;
    color: #666;
}

.shop button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.shop button:hover {
    background-color: #555;
}